.company-section{
    padding:80px;
    background:#f8fbff;
}

.company-section h2{
    text-align:center;
    margin-bottom:50px;
    font-size:40px;
}

.company-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;
}

.company-card{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:15px;
    font-size:18px;
    font-weight:600;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
}

.company-card:hover{
    transform:translateY(-8px);
    background:#2563eb;
    color:white;
}