.category-section{

padding:80px;

background:white;

}

.category-section h2{

text-align:center;

font-size:40px;

margin-bottom:50px;

}

.category-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.category-card{

background:#f8fbff;

padding:35px;

border-radius:20px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.category-card:hover{

background:#2563eb;

color:white;

transform:scale(1.05);

}

.category-card h3{

margin-bottom:15px;

}

.category-card p{

font-size:15px;

}