.chart-placeholder{

height:250px;

display:flex;

justify-content:center;

align-items:center;

background:#eff6ff;

border-radius:12px;

margin-top:20px;

font-size:22px;

color:#2563eb;

font-weight:bold;

}

.dashboard-card{

min-height:330px;

}